doctype html
html(lang='ja')
    head
        meta(charset="UTF-8")
        title= cube
        link(rel="stylesheet", href="css/style.css")
    body
        .cube-container
            .cube
                //.cube_face 1
                .cube_face
                    - for (var i=0; i<25; i++){
                        .cube_block
                    - }
                //.cube_face 2
                .cube_face
                    - for (var i=0; i<25; i++){
                        .cube_block
                    - }
                //.cube_face 3
                .cube_face
                    - for (var i=0; i<25; i++){
                        .cube_block
                    - }
                //.cube_face 4
                .cube_face
                    - for (var i=0; i<25; i++){
                        .cube_block
                    - }
                //.cube_face 5
                .cube_face
                    - for (var i=0; i<25; i++){
                        .cube_block
                    - }
                //.cube_face 6
                .cube_face
                    - for (var i=0; i<25; i++){
                        .cube_block
                    - }
